.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 10px;
}

.button {
  width: 1%;
  height: 60px;
  font-size: 24px;
  margin: 2px;
}

.calc-display {
  font-family: "Consolas";
  width: 100%;
  margin-bottom: 5px;
  font-size: 24px;
}

header {
  background-color: #003b5c;
  color: white;
  padding: 20px 0;
}

footer{
  background-color: #003b5c;
  color: #00b5e2;
  padding: 10px;
}